@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: Arial, sans-serif;
    background-color: #ca3131;
    margin: 0;
    padding: 0;
}